@import url(reset.css);

html { background-color: #000; font-family: 'Roboto';} 

h1{
    font-size: 20px;
    color: #000;
    font-weight: 900;
    margin-top: 16px;

}
iframe{
    border-radius: 5px;
}

body {
    max-height: 100vh;
    min-height: 1000px;
    max-width: 1450px;
    background-color: papayawhip; 
    margin: 0 auto;
    scroll-behavior: inherit;
    display: flex;
    justify-content: center;
}

.container{
    margin: 100px 20px 20px 20px;
    width: 1350px;
    height: 100vh;
    display: flex;
    text-align: center;
    background-color: purple;
    flex-direction: row;
    flex-wrap: nowrap;

}
.player{
    display: inline-grid;
    flex-direction: row;
    background-color: aqua;
    width: 1000px;
    height: 100vh;
    flex-wrap: nowrap;
}
.videos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
    width: 350px;

}
.canal{
    display: inline-flex;
    align-items: center;
    height: 42px;
    width: 1000px;
    background-color: aquamarine;
}

.icone-canal{
    height: 42px;
    width: auto;
    display: inline-flex;
    align-items: center ;
}
.qtd-nome-inscrito{
    margin-left: 10px;
    display: grid;
    justify-items: start;
    margin-right: 40px;
    background-color:antiquewhite;
}

#nome-canal{
    font-size: 14px;
    font-weight: 800;
    color: #000;
}
#qtd-inscritos{
    font-size: 14px;
    font-weight: 400;
    color: #515151;
}
.btn-inscrevase{
    background-color: #cc0000;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 3px;
    width: fit-content;
    padding: 15px 80px;
    transition: .4s;
    margin-right: 40px;
    
    
}
.btn-inscrevase:hover{
    background-color: #cc000088;
    letter-spacing: 0.1px;    

}
.like:hover{
    fill: #960000;
    transition: 15s;
}
.nome-like{
    font-size: 14px;
    font-weight: 800;
    color: #000;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-right: 60px;
}
.nome-like p{ 
    margin-right: 20px;
}