@import url(reset.css);

html { background-color: #000; } 
body {
    min-height: 1400px;
    max-width: 1200px;
    background-color: papayawhip; 
    margin: 0 auto;
    scroll-behavior: inherit;
}
nav{
    display: inline-flex;
    padding: 10px;
    align-items: baseline;
}

.topo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: #f6f6f6;
    height: 80px;
    padding: 15px;
    max-width: auto;

}

.navega{
    padding: 0px 25px 0px 10px;
    justify-content: baseline;
}
#pesquisa{
    display: inline-flex;
    padding-top: 0;
    align-items: center;
    padding-right: 30%;
}
.espacador{
    margin-right: 5%;
    
}

#yt{
    margin-right: 35% ;
}

body{
    
}



