@import url(reset.css);

html { background-color: #fff; font-family: 'Roboto';} 

h1{
    font-size: 20px;
    color: #000;
    font-weight: 900;
    margin-top: 16px;

}
iframe{
    border-radius: 5px;
}

body {
    max-height: 100vh;
    min-height: 1000px;
    min-width: 800px;
    max-width: 1450px;
    margin: 0 ;
    scroll-behavior: inherit;
    display: flex;
    justify-content: center;
}
nav{

    position: sticky;
}

.container{
    margin: 60px 25px;
    max-width: 1200px;
    width: 1920px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}
.player{
    display: inline-grid;
    flex-direction: row;
    width: 1000px;
    height: auto;
    flex-wrap: wrap;
    
}
.videos{
    display: block;
    flex-direction: column;
    width: 350px;
    margin-top: 16px;

}
.videos iframe{
    border-radius: 5px ;
    margin: 4%;
}
.videos p{
    margin: 0 4%;
    font-size: 8px;
    font-weight: 400;
    font-size: 13px;
    color: #515151;
}
.videos h4{
    font-size: 14px;
    margin: 0 4%;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
    flex-wrap: nowrap;
}
.cont-video{
    display: flex;    
    flex-direction: column;
    align-items: center;
}
.canal{
    display: inline-flex;
    height: 42px;
    width: auto;
    margin: 16px 0;
}

.icone-canal{
    height: 42px;
    width: auto;
    display: inline-flex;
    align-items: center ;
}
.qtd-nome-inscrito{
    margin-left: 10px;
    display: grid;
    justify-items: start;
    margin-right: 40px;
}

#nome-canal{
    font-size: 14px;
    font-weight: 800;
    color: #000;
}
#qtd-inscritos{
    font-size: 14px;
    font-weight: 400;
    color: #515151;
}
.btn-inscrevase{
    background-color: #cc0000;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 3px;
    width: fit-content;
    padding: 15px 40px;
    transition: .4s;
    margin-right: 40px;
    
    
}
.btn-inscrevase:hover{
    background-color: #cc000088;
    letter-spacing: 0.1px;    

}
.like:hover{
    fill: #960000;
    transition: 15s;
}
.nome-like{
    font-size: 14px;
    font-weight: 800;
    color: #000;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-right: 60px;
}
.nome-like p{ 
    margin-right: 20px;
}

.resumo{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    margin: 0;
    width: auto;
}



.resumo h3{
    font-size: 14px;
    font-weight: 800;
    color: #000;
    margin: 16px 0;
    display: flex;
}
.resumo p{ 
    font-size: 14px;
    font-weight: 400;
    color: #515151;
    display: flex;
    width: 550px;
}
.quebra-linha{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    flex-direction: row;
    align-items: center;
}

.menu {
    display: flex;
    background-color: #f8f8f8;
    position: absolute;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    z-index: 999; 
    height: 50px;
    width: 1350px;
    padding-bottom: 50px;
}
.logo-yt{
    align-items: flex-start;
    margin-left: 25px;
}
.pesquisa{
    width: 300px;
    height: 40px;
    border-radius: 50px;
    
}
.espassador img{
    margin: 0 20px;
}