@import url(reset.css);


:root{
    --branco: #ffffff;
    --cinca-pesquisa: #cccccc;
    --bg-videos: #F9F9F9;
}


body{
    background-color: #f6f6f6;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 1200px;
    height: 56px;
}
.menu{
    display: inline-flex;
    align-items: center;
}
.topo {
    align-content: center;
}
.widgets{
    display: flex;
    align-items: center;
    margin-left: 30%;
}
.widgets img{
    margin-left: 15px;
}
.menuzinho{
    padding-left: 20px;
}
.icone{
    padding-left: 20px;
}

#divBusca{
    background-color:var(--branco);
    border:solid 1px var(--cinca-pesquisa);
    border-radius:2px;
    width:300px;
    display: flex;
    align-items: center;
    margin-left: 74%;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }
.container-videos{
    display: flex;height: auto;
}
.sidebar{
    width: 20%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    text-decoration: none;
    list-style-type: none
}
.sidebar-container{
    width: auto;
    height: 34px;
    margin: 10px 20px;
    
}
.sidebar img{
    margin-right: 10px;
}
.sidebar a{
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    
}


.container-grid{
    width: 81%;
    height: auto;
    background-color: var(--bg-videos);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 260px;
    
}
.grid-videos{
    text-align: center;
    background-color: var(--bg-videos);
}
.container-player{
    margin: 20px;
}
.informacoes-video{
    display: inline-flex;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.imagem-video{
    width: 30%;
}
.conteudo-video{
    width: 100%;
    text-align: start;

}
.conteudo-video h2{
    color: black;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.41px;
}
.conteudo-video p{
    font-size: 10px;
    color: #000;
    padding-top: 20px;
}