@import url(reset.css);


:root{
    --branco: #ffffff;
    --cinca-pesquisa: #cccccc;
}


body{
    background-color: #f6f6f6;
}

.container{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 1100px;
    height: 56px;
}
.menu{
    display: inline-flex;
    align-items: center;
}
.topo {
    align-content: center;
}
.widgets{
    display: flex;
    align-items: center;
    margin-left: 45%;
}
.widgets img{
    margin-left: 15px;
}
.menuzinho{
    padding-left: 20px;
}
.icone{
    padding-left: 20px;
}

#divBusca{
    background-color:var(--branco);
    border:solid 1px var(--cinca-pesquisa);
    border-radius:2px;
    width:300px;
    display: flex;
    align-items: center;
    margin-left: 42%;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }
.container-videos{
    display: flex;height: auto;
}
.sidebar{
    width: 20%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    text-decoration: none;
    list-style-type: none
}
.sidebar-container{
    width: auto;
    height: 34px;
    margin: 10px 20px;
    
}
.sidebar img{
    margin-right: 10px;
}
.sidebar a{
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    
}


.container-grid{
    width: 80%;
    height: auto;
    background-color: rgb(83, 53, 51);
    display: grid;
    
}
.grid-videos{
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr;
    grid-row: 200px;
    background-color: tomato;
}